<nav class="flex justify-between p-4 bg-black shadow-md mb-4">
    <div class="flex-row items-center space-y-2">
        <h1 class="flex font-extrabold text-4xl text-[#f3d2c3] tracking-wider uppercase">{{title}}</h1>
        <p class="text-md capitalize text-[#f3d2c3] font-semibold">{{content}}</p>
    </div>

    <div class="relative flex items-center w-1/2 justify-end">
        <form id="search-form" class="flex items-center space-x-2 mb-0 {{hidden_search}}" action="{{action}}" method="GET">
            {{{options}}}

            <div class="relative w-full">
                <input type="text" name="query" placeholder="Search value"
                    class="w-full pl-3 py-2 pr-14 border border-gray-300 focus:outline-none rounded-full">
                <button type="submit"
                    class="bg-[#f3d2c3] text-black absolute right-0 top-1/2 transform -translate-y-1/2 w-10 h-10 flex items-center justify-center rounded-full transition">
                    <i class="fas fa-search font-bold"></i>
                </button>
            </div>
        </form>

    </div>
</nav>