<div class="flex flex-col h-screen bg-gray-100">
    <div class="flex">
        <aside class="w-64 bg-white shadow-md h-full">
            {{> aside }}
        </aside>
        <main class="flex-1 overflow-y-auto p-6 bg-gray-100 h-full">
            <div class="text-center mb-6">
                <div
                    class="bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 text-white rounded-xl shadow-md p-6">
                    <h1 class="text-4xl font-extrabold tracking-tight">
                        Product List
                    </h1>
                    <p class="text-white mt-2 text-lg mb-0">
                        Browse through our curated list of products available for you
                    </p>
                </div>
            </div>

            <div class="bg-gradient-to-r from-blue-500 to-purple-500 text-white rounded-xl shadow-2xl p-8 mb-4">
                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8">
                    {{#each products}}
                    <div
                        class="border-2 border-gray-300 shadow-md rounded-xl overflow-hidden transition-all duration-900 transform hover:shadow-xl hover:scale-105">
                        <div class="bg-white hover:bg-gray-400">
                            <img src="{{this.image}}" class="w-full h-64 object-contain" alt="{{this.title}}"
                                onclick="openImage('{{this.image}}')">
                            <div class="px-6 py-2">
                                <h5 class="text-lg font-semibold text-black truncate mb-0 text-center">{{this.title}}
                                </h5>
                                <div class="flex justify-between items-center my-3 transition-shadow">
                                    <div class="flex items-center space-x-4">
                                        <p class="text-lg text-green-600 font-semibold mb-0">{{this.price}} USD</p>
                                        <div class="flex items-center text-red-500 space-x-1">
                                            <i class="fas fa-tags"></i>
                                            <p class="text-lg font-semibold mb-0">-{{this.discount}}%</p>
                                        </div>
                                    </div>
                                    <p class="text-lg text-gray-500 capitalize mb-0">{{this.color}}</p>
                                </div>
                                <div class="mt-3">
                                    <a href="products/{{this._id}}"
                                        class="block w-full font-bold no-underline text-center bg-blue-500 text-white py-2 rounded-lg transition duration-300 hover:bg-blue-700 hover:scale-105 hover:no-underline">
                                        View Details
                                    </a>
                                </div>
                                <div class="mt-3 mb-0">
                                    <form action="/admin/products/delete/{{this._id}}" method="POST">
                                        <input type="hidden" name="_action" value="delete" />
                                        <button type="submit"
                                            class="w-full font-bold no-underline text-center bg-red-500 text-white py-2 rounded-lg transition duration-300 hover:bg-red-700 hover:scale-105 hover:no-underline">
                                            Delete
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>

                <div class="flex justify-between mt-8 space-x-4">
                    <a href="{{#if (gt currentPage 1)}}products?page={{subtract currentPage 1}}{{else}}#{{/if}}"
                        class="w-auto font-bold no-underline px-4 py-2 bg-gray-300 text-white rounded-lg transition duration-300 hover:bg-gray-700 hover:no-underline {{#if (gt currentPage 1)}}{{else}}bg-gray-300 cursor-not-allowed{{/if}}"
                        {{#if (gt currentPage 1)}}{{else}}aria-disabled="true" {{/if}}
                        onclick="{{#if (gt currentPage 1)}}{{else}}event.preventDefault();{{/if}}">
                        Previous
                    </a>
                    <div class="flex space-x-2">
                        {{#each (range 1 totalPages) as |page|}}
                        <a href="products?page={{page}}"
                            class="no-underline w-auto font-bold px-4 py-2 text-white rounded-lg transition duration-300 hover:bg-gray-700 hover:no-underline {{#if (eq page currentPage)}}bg-gray-600 cursor-not-allowed{{else}}{{/if}}">
                            {{page}}
                        </a>
                        {{/each}}
                    </div>
                    <a href="{{#if (lt currentPage totalPages)}}products?page={{add currentPage 1}}{{else}}#{{/if}}"
                        class="w-auto font-bold no-underline px-10 py-2 bg-gray-300 text-white rounded-lg transition duration-300 hover:bg-gray-700 hover:no-underline {{#if (lt currentPage totalPages)}}{{else}}bg-gray-300 cursor-not-allowed{{/if}}"
                        {{#if (lt currentPage totalPages)}}{{else}}aria-disabled="true" {{/if}}
                        onclick="{{#if (lt currentPage totalPages)}}{{else}}event.preventDefault();{{/if}}">
                        Next
                    </a>
                </div>
            </div>
        </main>
    </div>
    <div>
        {{> footer }}
    </div>
</div>

<div id="imageModal" class="fixed inset-0 bg-black bg-opacity-30 flex justify-center items-center hidden"
    onclick="closeImage(event)">
    <div class="relative flex justify-center rounded-lg shadow-lg overflow-auto w-auto max-h-full p-4 transition-all duration-2000 transform"
        onclick="event.stopPropagation()">
        <img id="modalImage" class="w-1/2 h-auto max-w-full object-contain rounded-md" src="" alt="Image" />
        <button onclick="closeImage(event)"
            class="absolute top-2 right-2 p-3 bg-red-500 text-white rounded hover:bg-red-700 transition">
            X
        </button>
    </div>
</div>

<script>
    function openImage(imageUrl) {
        const modal = document.getElementById("imageModal");
        const modalImage = document.getElementById("modalImage");
        modalImage.src = imageUrl;
        modal.classList.remove("hidden");
    }

    function closeImage(event) {
        const modal = document.getElementById("imageModal");
        modal.classList.add("hidden");
        event.stopPropagation();
    }
</script>